<body class="subdued">
</br>

  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-body">
      <div><center><%= image_tag("http://relationally.net/wp-content/uploads/2017/01/RelationallyLG.png", width: '399', height: '75') %></center>
<center>

	<h4><b>We're glad you're here!</b></h4>
<hr>
<p><%= @user.name %>, we're so glad you decided to give us a try.  Go ahead and start planning what you can do with all those extra hours in your day, because we're going to save you some serious time.</p><br>
<h3>Here's what you need to know to get started with our service:</h3>
</center>
<p>We can recieve your request one of two ways:  Phone call or text.  When you call our line at (650) 735-2846, you'll be promted to leave a message with the details of the information you want entered into your CRM.  Please be as detailed as necessary in your message.  Within minutes, our team of CRM professionals will begin to transcribe your message into text and port it to your CRM system.  We operate in batches, so it may take a few hours before </p>
</div>
</div>


  <hr> 
      <div>
          <center>Having trouble?<br>  Reach out to us at <a href="mailto:support@relationally.net">support@relationally.net</a></center>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</body>