<body class="subdued">
</br>

  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-body">
      <div><center><%= image_tag("black-blue_logo.png", width: '200', height: '75') %></center>
<center>
  

	<h1>Let's get some more selling done...</h1>
<hr>
<% if user_signed_in? %>
  <%= render :partial => "edit" %>
<% end %>

<% unless user_signed_in? %>
  <%= render :partial => "sign_on" %>
<% end %>
</div>
</div>

</center>
  <hr> 
      <div>
          <center>Having trouble?<br>  Reach out to us at <a href="mailto:support@relationally.net">support@relationally.net</a></center>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</body>