<body class="subdued">
</br>

  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-body">
      <div><center><%= image_tag("RelationallyLG.png", width: '399', height: '75') %></center>
<center>
	<h3>Less paperwork, more selling...</h3>
	<h4>That's what we're all about.</h4>
<hr>
<% if user_signed_in? %>
  <%= render :partial => "edit" %>
<% end %>

<% unless user_signed_in? %>
  <%= render :partial => "sign_on" %>
<% end %>
</div>
</div>
</center>

  <hr> 
      <div>
          <center>Having trouble?<br>  Reach out to us at <a href="mailto:support@relationally.net">support@relationally.net</a></center>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</body>