

<body class="subdued">
</br>

  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-body">
      <div><center><%= image_tag("RelationallyLG.png", width: '399', height: '75') %></center>

</p>
            <hr>

  <div>         
      <div style="text-align: center;">
        <h4>Almost there!</h4>

     </h4>
        <h3> You're about to start your free week!</h3><br>
        <p>After that, unlimited use of Relationally.net is just $39 per month!

        <p style="padding-top: 10px;"> There’s <u>no risk</u> and you can cancel anytime with a single click from your dashboard.</p><br>
      </div><center>
      <%= form_tag charges_path do %>
<script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Relationally Subscription"
          data-amount="3900"
          ></script>
          <% end %></center>
  </div>   
  <hr> 
      <div>
          <center>Having trouble?<br>  Reach out to us at <a href="mailto:support@relationally.net">support@relationally.net</a></center>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</body>
</div>
<br>
<div class="progress">
  <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
  aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:75%">
    75% Complete 
  </div>
</div>